.emoji-marquee {
    display: flex;
    flex-direction: column;
    gap:32px;
    font-size: 32px;
}

body {
    display:flex;
    flex-direction: column;
    margin:0;
    transition: background 1.5s;
    /* cursor: url(assets/eye-cursor.png), auto; */
}

.top-nav {
    height:5em;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    margin-left:6.25em;
    position: relatvie;
}



h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 4em;
    margin:0em;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color:#2E65F3;
    margin:0em;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin:0em;
}

#home-tagline {
    font-weight: 300;
    line-height: 160%;
}

h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    margin:0em;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
}

span {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
}

/* cards */
.cards-container {
    display:flex;
    padding-top: 5.5vmin;
    padding-bottom: 9vmin;

    padding-left: 8.25em;
    padding-right: 8.25em;
    position: relative;
    gap:3em;

    overflow-x: scroll;
    width: auto;
}

.cards-container::-webkit-scrollbar {
    display: none;
  }

.cards-container h1 {
    width: 100%;
}

#page-header {
    min-width:30em;
    margin-right: 5em;
    display:flex;
    flex-direction: column;
    gap:3em;
}

.card {
    width: 17.5em;
    height: 30em;
    border-radius:1.25em;
    background-color: #FFCB2B;
    display:flex;
    /* overflow: hidden; */
    position:relative;
    min-width: 17.5em;
/* 
    display: inline-block; */
}


.card-content {
    width:280px;
    height: 480px;
    position: relative;
    top: 0;
    /* transition: top linear 0.3s; */
    display:flex;
    overflow: hidden;

    border-radius:20px;
    border-style: solid;
    border-width: 2px;
    border-color:black;
}

.card-content:hover {
    top:-1.5em;
    left:-1.5em;
}

.card-thumbnail{
    max-width: 100%;
    max-height: 100%;
    object-fit:cover;
    filter: grayscale(100%);
}

.card-thumbnail:hover{
    filter: grayscale(0%);
}

.card-text {
    position:absolute;
    left:0em;
    bottom:0em;
    max-width: 100%;
    padding:1.25em;
    display:flex;
    flex-direction: column;
    gap:0.5em;
    color:white;
}

.card-description {
    width:100%;
}

#card1 {
    background-color:#2E65F3;
}

#card2 {
    background-color:#612EF3;
}

#card3 {
    background-color:#8e1dff;
}

#card4 {
    background-color:#D22CA3;
}

#card5 {
    background-color:#d34242;
}

#card6 {
    background-color:#E86329;
}

/* responsive media query */

@media screen and (max-width:40em){
    .cards-container {
        display:flex;
        flex-direction: column;
        padding-left:2em;
        padding-right:2em;
    }

    .card {
        width:auto;
    }

    .card-content{
        width:auto;
    }

}

/* closing section */
.closing {
    margin-left: 6.25em;
    min-width:30em;
    max-width:30em;
    color: #111111;

    display:flex;
    flex-direction: column;
    gap:2em;
}

.closing h2{
    width:100%;
    color: #111111;
}

#reference-section {
    /* display:flex;
    flex-direction: column; */
}

.closing-subsection a {
    text-decoration: underline;
}

.closing-subsection a:hover {
    text-decoration: none;
    background-color: black;
    color:white;
}

.closing-subsection a:hover span{
    background-color: black;

}

/* details page */
#detail1 {
    background-color: #2E65F3;
}

#detail2 {
    background-color: #612EF3;
}

#detail3 {
    background-color:#8e1dff;
}

#detail4 {
    background-color:#D22CA3;
}

#detail5 {
    background-color:#d34242;
}

#detail6 {
    background-color:#E86329;
}

.card-background {
    background-color:white;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    margin:6.25em;
    /* margin-top:100px;
    margin-bottom: 100px; */
    /* height: 40em; */
    border-radius: 1.25em;
    display:flex;
    flex-direction: column;
    justify-content:space-between;

    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.inner-content {
    display:flex;
    gap:5em;
}

.inner-content-left h2 {
    width:100%;
}

.inner-content-left p {
    width:100%;
}

.inner-content-left {
    display:flex;
    flex-direction: column;
    width:40%;
    /* margin-right: 8em; */
}

.inner-content-right {
    width:60%;
}

.tag {
    background-color: #2E65F3;
    border-radius: 8px;
    color:white;
    font-size:24px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left:24px;
    padding-right:24px;
    padding-top:4px;
    padding-bottom:4px;
    width:fit-content; 
    margin-bottom:1em;
}

button {
    background: none;
    border-style:none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    cursor: pointer;
}


a {
    text-decoration: none;
    color:black;
}

#top-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2em;
}

#bottom-row {
    /* position:absolute;
    bottom:0px; */
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.detail-image {
    /* width:100%;
    /* scale:fill; */
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    object-fit:cover;
}

.nav-button {
    background: none;
    font:'IBM Plex Sans', sans-serif;
}

.nav-arrow-left:hover{
    transform: translateX(50%);
}

@media screen and (max-width:50em) {

    .card-background {
        padding:2rem;
    }
    
    .inner-content{
        flex-direction: column;
        gap: 1.5em;
    }

    .inner-content-left {
        width:100%;
    }

    .inner-content-right {
        width:100%;
    }
}