h1 {
    font-family: 'DM Mono', serif;
    font-size: 64px;
}

h2 {
    font-family: 'DM Mono', monospace;
    font-weight: 300;
    font-size: 32px;
}

h3 {
    font-family: 'DM Mono', monospace;
    font-weight: 200;
    font-size: 20px;
    color:#EF5DA8;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    display:flex;
    flex-direction: column;
    row-gap:100px;
    background-image: url('assets/home-bg.png');
}

/*home page*/
.container {
    display:flex;
    flex-direction: column;
    justify-content:start;
}

.item {
    margin-bottom:60px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.main-home {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    display:flex;
    flex-direction: row;
}

.left {
    display:flex;
    flex-direction: column;
    width:60%;
}

.right {
    display:flex;
    flex-direction: column;
    align-content: flex-end;
    width:40%;
}
  
#site-description {
    font-family: 'DM Sans',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    color: #333333;
}
  
.block {
    display: block;
    width: 100%;
    height: 120px;
    box-shadow:0px 0px 0px 2px #EF5DA8;
    border: none;
    background-color:white;
    padding-left: 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: left;
    font-family:'DM Sans', serif;
    margin-top:32px;
  }

.block:hover {
    background-color:#EF5DA8; 
    color:#f1f1f1;
}

#home-gallery {
    padding-left: 100px;
    display:flex;
    flex-direction: row;
    gap:27px;
}

/* SHOP PAGE */

.nav-bar {
    position:absolute;
	top: 0px;
    z-index:1;
    padding-left:100px;
    font-family: 'DM Mono', monospace;

}

.nav-li {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    padding-inline-start: 0px;
}

.nav-item{
	position: relative;
	margin-right: 100px;
	align-items: center;
    display:flex;

}

.nav-item:hover{
    font-weight: bold;
    color:#A5A6F6;
}

#shopping-cart {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 100px;
    top: 40px;
}


.current-page{
    text-decoration: none; 
    color:#EF5DA8;
    font-weight: bold;
}

a {
    color:inherit;
}

.nav-item a:active{
    color: #EF5DA8;
}

#address {
    display:flex;
    flex-direction:row;
    padding-left:100px;
    margin-top:40px;
    gap:8px;
    align-items: center;
}

::placeholder{
    font-family: 'DM Sans', serif;
}


#main{
    display:flex;
    flex-direction: column; 
    justify-content: flex-start;
    margin-top: 60px;
    position: relative;
}

.grid {
    padding-left:100px;
    padding-right:100px;

    display: grid;
    grid-template-columns: 295px 452px 452px;
    box-shadow:0px 0px 0px 1px black inset;
    background-color: white;
    column-gap: 20px;
    margin-bottom: 60px;
}

.grid-cell {
    display: flex;
    flex-direction: column;
    row-gap:12px;
    box-shadow:0px 0px 0px 1px black inset;
    padding-bottom: 10px;
}

.grid-text-cell {
    display: flex;
    flex-direction: column;
}

.productInfo {
    padding-left:20px;
    display:flex;
    flex-direction: row;
}

.right-aligned {
    text-align: right;
    width:50%;
    float:right;
    margin:0px;
    padding-right:20px;
}

.left-aligned {
    margin:0px;
    text-align: left;
    width:50%;
    float:right;
}

/* DETAILS PAGE */

#nav-btn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.grid-details {
    display: grid;
    grid-template-columns: 372px 612px;
    background-color: white;
    column-gap: 98px;
    margin-bottom: 60px;
    margin-top: 60px; 
    margin-left: 180px;
}

#left-column {
    display:flex;
    flex-direction: column;
    gap:1px;
}

#right-column {
    display:flex;
    flex-direction: column;
    position:static;
}

.subtitle {
    font-size:14px;
    margin-bottom: 8px;
    margin-top: 24px;
}

.selector {
    display:flex;
    flex-direction: row;
    gap:20px;
}

.option {
    width:138px;
    height:40px;
    box-shadow:0px 0px 0px 1px black inset;
    border: none;
    background-color:white;
    font-family: 'DM Sans', serif;
}

.selected {
    background-color: black;
    color:white;
}

.wide-button {
    display: block;
    width: 100%;
    height: 48px;
    border: none;
    background-color:#EF5DA8;
    cursor: pointer;
    font-family:'DM Sans', serif;
    font-size: 16px;
    color:white;
    margin-top:40px;
}

.collapsible {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    font-family:'DM Sans',sans-serif;
    margin-top: 40px;
}

.active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-size: 14px;
  }